body {
	font-family: arial,sans-serif;
	font-size: 13px;
}

div {
	margin: 0;
	padding: 0;
}

#bell {
    background-image: url(https://raw.githubusercontent.com/n8sb/odin-project/master/google-homepage/style/../images/sprite.png);
    background-position: -67px -66px;
    position: absolute;
    width: 30px;
    height: 30px;
    float: right;
}

#apps {
    background-image: url(https://raw.githubusercontent.com/n8sb/odin-project/master/google-homepage/style/../images/sprite.png);
    background-position: -69px -854px;
    position: absolute;
    width: 30px;
    height: 30px;
    float: right;
}
.nav {
}

.header {
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
    padding: 1px 10px 0px 25px;
}

li a {
    display: list-item;
    text-align: center;
    text-decoration: none;
    color: #000;
    vertical-align: middle;

}

a:hover {
	opacity: 0.75;
	text-decoration: underline;
}

#user {
	border-radius: 16px;
	float: right;
	margin: 3px 2px 10px 46px;
}

#images {
	float:right;
	margin: 8px 1px 1px 1px;
}

#gmail {
	margin: 8px 1px 1px 1px;
	float: right;
}

.bell_container {
	margin: -1px -25px 1px 1px;
	padding: 1px 1px 1px 1px;
}

.apps_container {
	margin: 3px 0px 0px 0px;
}